html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
}

#firstOption, #secondOption, #thirdOption, #fourthOption {
    height: 200px;
    width: 200px;
    border: thin black solid;
    margin: 10px;
}